@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

*,*::before, *::after{
margin: 0;
padding: 0;
border: none;
box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    font-family: Manrope;
    color: #333;
}

.button {
    border-radius: 5px;
    background: #F85A47;
    color: #FFF;
    box-shadow: 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
} 

.wrapper{
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.page{
    flex: 1 1 auto;
}

[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;

}

@media (max-width: 1200px) {
    [class*="__container"]{
        max-width: 970px;
    }
}

@media (max-width: 970px) {
    [class*="__container"]{
        max-width: 750px;
    }
}

@media (max-width: 750px) {
    [class*="__container"]{
        max-width: none;
    }
}


/* HEADER */
/* =========================== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 103px;
    /* padding: 10px 0px; */
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}
@media(max-width: 768px){
    .header__container {
       min-height: none;
       flex-direction: column;
    }
}
.header__logo {
    color: #31353B;
    font-size: 23px;
    font-weight: 800;
}
.header__menu {
}
/* ============================= */
.menu {
    
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 5px;
}
@media (max-width: 767.98px){
    .menu__list{
        justify-content: center;
    }
    .menu__link {
        font-size: 20px;
    }
}
.menu__item {
}
.menu__link {
    color: #000;
    font-size: 13px;
    font-weight: 700;
}

.menu__link:hover{
    text-decoration: underline;
}

/* =====MAIN-BLOCK===== */

.main-block__body {
    margin-bottom: 14px;
}

.main-block {
    
}

.main-block__container {
    padding-top: 184px;
    position: relative;
}


@media (min-width:1200px){
    .main-block__container::after{
        content: '';
    
        background: #BDCCFF;
        position: absolute;
        top: 0;
        height: 100%;
        width: 200%;
        left: 68%;
    }

}


.body-main__block {
    display: flex;
    align-items: flex-start;
}

@media (max-width:1199.98px){
    .body-main__block {
        display: block;
    }
     .form-main-block {
        margin-right: 0;
     }
     .body-main-block__content {
        margin-bottom: 40px;
     }
}
.body-main-block__content {
    flex: 0 1 50%;
}

.content-main-block {
    padding-top: 40px;
}
.content-main-block__body{
    padding-right: 80px;
}
.content-main-block__sub-title {
    text-transform: uppercase;
    color: #F90;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;

}
.content-main-block__title {
    color: #000;
    font-size: 54px;
    font-weight: 800;
    line-height: 135.185% ; /* 135.185% */
    margin-bottom: 20px;
}
.content-main-block__text {
    color: #31353B;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.17px;
    margin-bottom: 45px;

}
.content-main-block__form {
}


.form-main-block {
    display: flex;
    position: relative;
    z-index: 5;
    
   
    /* background-color: #fff; */
    height: 86px;
    background: #FFF url('../img/main/home-icon.svg') 33px 50% no-repeat;
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.01),
     0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
      0px 20px 13px 0px rgba(0, 0, 0, 0.01), 
      0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.02), 
      0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
       0px 100px 80px 0px rgba(0, 0, 0, 0.03);
}

@media (min-width:1200px){

    .form-main-block{
        margin-right: -188px;
    }
}
.form-main-block__input {
    /* width: 756px;
    height: 86px;  */
    padding: 0px 0px 0px 74px;
    background-color: transparent;
    width: 100%;
    flex: 1 1 auto;

    border: 1px solid #DADADA;
    /* background:  #FFF; */
    
}
.form-main-block__input::placeholder{
    color: #31353B;
    opacity: 0.3;
}
.form-main-block__button {
     width: 188px;
    /* height: 86px;  */
    background: #F85A47;
    flex:  0 0 188px;
    color:  #FFF;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.17px;
    cursor: pointer;
}
.body-main-block__slider {
    flex: 0 1 50%; 
    min-width: 0;
}
.slider-main-block{

}
.slider-main-block__slide{
    position: relative;
    padding-bottom: 95%;
}
.slider-main-block__slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-main-block__wrapper{

}

.main-block__partners {
}


.partners-main-block {
  max-width: 65%;
}
.partners-main-block__lable {
font-size: 17px;
font-weight: 400;
letter-spacing: 0.17px;
margin-bottom: 27px;
color: #31353B;
}
.partners-main-block__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
   /* justify-content: space-between; */
}
.partners-main-block__item {
}

.partners-main-block__item img {
    max-width: 100%;
}