@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

*,*::before, *::after{
margin: 0;
padding: 0;
border: none;
box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    font-family: Manrope;
    color: #333;
}
.title {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.375;
}
@media(max-width: 767.98px){
    .title {
        color: #000;
        font-size: 30px;
        font-weight: 600;
    }
}
.title-center{
    text-align: center;
}

.button {
    border-radius: 5px;
    background: #F85A47;
    color: #FFF;
    box-shadow: 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
} 

.wrapper{
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.page{
    flex: 1 1 auto;
}

[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;

}

@media (max-width: 1200px) {
    [class*="__container"]{
        max-width: 970px;
    }
}

@media (max-width: 970px) {
    [class*="__container"]{
        max-width: 750px;
    }
}

@media (max-width: 750px) {
    [class*="__container"]{
        max-width: none;
    }
}


/* HEADER */
/* =========================== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 103px;
    /* padding: 10px 0px; */
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}
@media(max-width: 768px){
    .header__container {
       min-height: none;
       flex-direction: column;
    }
}
.header__logo {
    color: #31353B;
    font-size: 23px;
    font-weight: 800;
}
.header__menu {
}
/* ============================= */
.menu {
    
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 5px;
}
@media (max-width: 767.98px){
    .menu__list{
        justify-content: center;
    }
    .menu__link {
        font-size: 20px;
    }
}
.menu__item {
}
.menu__link {
    color: #000;
    font-size: 13px;
    font-weight: 700;
}

.menu__link:hover{
    text-decoration: underline;
}

/* =====MAIN-BLOCK===== */

.main-block__body {
    margin-bottom: 14px;
}

.main-block {
    padding-bottom: 110px;
}

.main-block__container {
    padding-top: 184px;
    position: relative;
}


@media (min-width:1200px){
    .main-block__container::after{
        content: '';
    
        background: #BDCCFF;
        position: absolute;
        top: 0;
        height: 100%;
        width: 200%;
        left: 68%;
    }

}


.body-main__block {
    display: flex;
    align-items: flex-start;
}


.body-main-block__content {
    flex: 0 1 50%;
}

.content-main-block {
    padding-top: 40px;
}
.content-main-block__body{
    padding-right: 80px;
}
.content-main-block__sub-title {
    text-transform: uppercase;
    color: #F90;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;

}
.content-main-block__title {
    color: #000;
    font-size: 54px;
    font-weight: 800;
    line-height: 135.185% ; /* 135.185% */
    margin-bottom: 20px;
}
.content-main-block__text {
    color: #31353B;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.17px;
    margin-bottom: 45px;

}
.content-main-block__form {
}


.form-main-block {
    display: flex;
    position: relative;
    z-index: 2;
    
   
    /* background-color: #fff; */
    /* min-height: 86px; */
    background: #FFF url('../img/main/home-icon.svg') 33px 32px no-repeat;
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.01),
     0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
      0px 20px 13px 0px rgba(0, 0, 0, 0.01), 
      0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.02), 
      0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
       0px 100px 80px 0px rgba(0, 0, 0, 0.03);
}

@media (min-width:1200px){

    .form-main-block{
        margin-right: -188px;
    }
}
.form-main-block__input {
    /* width: 756px; */
    height: 86px; 
    padding: 0px 0px 0px 74px;
    background-color: transparent;
    width: 100%;
    flex: 1 1 auto;

    border: 1px solid #DADADA;
    /* background:  #FFF; */
    
}
.form-main-block__input::placeholder{
    color: #31353B;
    opacity: 0.3;
}
.form-main-block__button {
     width: 188px;
    height: 86px; 
    background: #F85A47;
    flex:  0 0 188px;
    color:  #FFF;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.17px;
    cursor: pointer;
}

.form-main-block__button:hover{
    background-color: #cc1602;
}
.body-main-block__slider {
    flex: 0 1 50%; 
    min-width: 0;
}
.slider-main-block{

}
.slider-main-block__slide{
    position: relative;
    padding-bottom: 95%;
}
.slider-main-block__slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-main-block__wrapper{

}

.main-block__partners {
}


.partners-main-block {
  max-width: 65%;
}
.partners-main-block__lable {
font-size: 17px;
font-weight: 400;
letter-spacing: 0.17px;
margin-bottom: 27px;
color: #31353B;
}
.partners-main-block__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

   /* justify-content: space-between; */
}
.partners-main-block__item {
}

.partners-main-block__item img {
    max-width: 100%;
}

@media (max-width:1199.98px){
    .body-main__block {
        display: block;
    }
    .content-main-block__body{
        padding-right: 50px;
    }
     .form-main-block {
        margin-right: 0;
     }
     .body-main-block__content {
        margin-bottom: 40px;
     }
     .main-block__body {
        margin-bottom: 40px;
    }
    .partners-main-block {
        max-width: none;
      }
      /* .partners-main-block__item {
        padding-bottom: 15px;
      } */
}

@media (max-width:767.98px){
    .partners-main-block__items {
        justify-content: center;
    }
    .content-main-block__title {
        font-size: 30px;
        line-height: 120%;
    }
    .form-main-block {
        display: block;
    }
    .form-main-block__button {
        height: 50px;
        width: 100%;
    }
    .form-main-block__input {
        height: 50px;
        background: #FFF url('../img/main/home-icon.svg') 33px 15px no-repeat;
    }
}
@media (max-width:479.98px){
    .form-main-block__input{
        background: #FFF;
        padding: 0px 15px;
    }
}

/* PAGE__HOW SECTION */

.how {
    padding-top: 110px;
    padding-bottom: 110px;
}
@media(max-width: 990.98px){
    .how {
        padding-top: 0px;
        padding-bottom: 60px;
    }
}
/* .how__container {
} */
.how__title {
    margin-bottom: 70px;
}

.how__items {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, minmax(auto,260px));
    column-gap: 30px;
    row-gap: 40px;
    justify-content: space-between;

}
@media(min-width: 991px){
    .how__items {
        padding: 0px 35px;
    }
}

.how__item {
    max-width: 260px;
}
.item-how {
    text-align: center;
    display: grid;
    justify-items: center;
    position: relative;
}

.item-how:not(:last-child)::after{
    content: '';
    position: absolute;
    right: 0;
    top: 41px;
    max-width: 210px;
    height: 11px;
    width: 100%;
    transform: translate(86.5%, 0px);
    background: url('../img/main/works/pad1.svg') 0 0 / 100% no-repeat;
}
.item-how_2:not(:last-child)::after{
    transform: translate(86.5%, 0px) rotate(-180deg);
}

.item-how_1 .item-how__icon{
    background: #9672FF;
    box-shadow: 0px 1.852px 3.148px 0px rgba(150, 114, 255, 0.02), 0px 8.148px 6.519px 0px rgba(150, 114, 255, 0.03), 0px 20px 13px 0px rgba(150, 114, 255, 0.04), 0px 38.519px 25.481px 0px rgba(150, 114, 255, 0.04), 0px 64.815px 46.852px 0px rgba(150, 114, 255, 0.05), 0px 100px 80px 0px rgba(150, 114, 255, 0.07);
    
}

.item-how_2 .item-how__icon{
    background: #4DDFFD;
    box-shadow: 0px 1.852px 3.148px 0px rgba(77, 223, 253, 0.02), 0px 8.148px 6.519px 0px rgba(77, 223, 253, 0.03), 0px 20px 13px 0px rgba(77, 223, 253, 0.04), 0px 38.519px 25.481px 0px rgba(77, 223, 253, 0.04), 0px 64.815px 46.852px 0px rgba(77, 223, 253, 0.05), 0px 100px 80px 0px rgba(77, 223, 253, 0.07);
}

/* .item-how_2::after{
    content: '';
    position: absolute;
    right: 0;
    top: 41px;
    max-width: 210px;
    height: 11px;
    width: 100%;
    transform: translate(86.5%, 0px);
    background: url('../img/main/works/pad2.svg') 0 0 no-repeat;
} */

.item-how_3 .item-how__icon{
    background: #F2B8EC;
    box-shadow: 0px 1.852px 3.148px 0px rgba(242, 184, 236, 0.02), 0px 8.148px 6.519px 0px rgba(242, 184, 236, 0.03), 0px 20px 13px 0px rgba(242, 184, 236, 0.04), 0px 38.519px 25.481px 0px rgba(242, 184, 236, 0.04), 0px 64.815px 46.852px 0px rgba(242, 184, 236, 0.05), 0px 100px 80px 0px rgba(242, 184, 236, 0.07);
}

.item-how__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.item-how__title {
    color: #000;
    /* text-align: center; */
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;

}
.item-how__text {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%; /* 162.5% */
    /* text-align: center; */
}
@media(max-width: 1199.98px){
    .item-how:not(:last-child)::after{
        width: 150px;
        transform: translate(69.5%, 0px);
    }
    .item-how_2:not(:last-child)::after{
        transform: translate(69.5%, 0px) rotate(-180deg);
    }
}
@media(max-width: 990.98px){
    .item-how:not(:last-child)::after{
        width: 100px;
        transform: translate(67%, 0px);
    }
    .item-how_2:not(:last-child)::after{
        transform: translate(67%, 0px) rotate(-180deg);
    }
}
@media(max-width: 767.98px){
    .how__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }
    .item-how:not(:last-child)::after{
       display: none;
    }
    .item-how__icon {
        margin-bottom: 20px;
    }
  
}

/*  --------------------- SECTION Deals -------------- */

.deals {
    padding-top: 110px;
    padding-bottom: 120px;
}

@media (max-width: 970px) {
    .deals {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 750px) {
    .deals {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

.deals__container {}
.deals__header {
    margin-bottom: 50px;
}
.header-deals {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.deals__tabs {}


.header-deals__content {
    flex: 1 1 auto;
}
.header-deals__title {
    color: #000;

    font-family: Manrope;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}
.header-deals__text {
    max-width: 470px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 150% */
}
.header-deals__link {
    display: inline-block;
    padding: 22px 33px;
    border-radius: 5px;
    background: #F85A47;
    box-shadow: 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
    line-height: 22px;
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
}
@media(max-width: 767.98px){
    .header-deals__link {
        width: 100%;
        text-align: center;
    }
}
.header-deals__link:hover{
    background-color: #cc1602;
    
}

.button {
}

.tabs-deals {
}
.tabs-deals__nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 10px;
    margin-bottom: 45px;
}
.tabs-deals__button {
    background-color: transparent;
    position: relative;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
}
.tabs-deals__button::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease 0s;
    background-color: #F85A47;
    
    
}

.tabs-deals__button:hover::after {
    width: 100%; 
}
.tabs-deals__button:hover {
    color: #F85A47; 
}
.tabs-deals__body {
}
.tabs-deals__item {
    display: none;
}
.tabs-deals__item.active {
    display: block;
}
.item-tabs {
}
.item-tabs__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.item-tabs__item {
    position: relative;
}
.item-tabs__options {
    position: absolute;
    left: 14px;
    top: 14px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.item-tabs__option {
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 12px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 6px 12px;
    transition: background-color 0.3s ease 0s;

}
.item-tabs__option:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.item-tabs__image {
    position: relative;
    display: block;
    padding-bottom: 81%;
    border-radius: 5px;
    overflow: hidden;
    
}
.item-tabs__image:hover img {
    transform: scale(1.1);
}

.item-tabs__image img{
    position: absolute;
    transition: transform 0.3s ease 0s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

}


/*  SECTION featured*/


.page__featured {
}
.featured {
    padding-top: 110px;
    padding-bottom: 83px;
}
.featured__container {

}
.featured__title {
    margin-bottom: 95px;
    color: #000;
    font-size: 40px;
    font-weight: 600;
}
.title-center {
}
.featured__body {
    background: #F1FFFF;
    padding: 40px;
    display: grid;
    gap: 77px;
    grid-template-columns: repeat(2, 1fr);
}
.featured__images {
}
.images-featured {
    display: grid;
    justify-items: center;
}
.images-featured__item {
    
}
.images-featured__item img{
    max-width: 100%;
}
.featured__content {
}
.content-featured {
}
.content_-featured__title {
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 28px;
}
.content-featured__text {
    color: #545A58;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 48px;
}
.content-featured__options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.options-content-featured {
   
}
.options-content-featured__item {
}
.options-content-featured__item img{
    
}
.images-featured__item-mini{
    margin-left: 20px;
    margin-right: 20px;
    /* box-shadow: 48px 58px 44px 0px rgba(0, 0, 0, 0.09), 0px 3.019px 3.148px 0px rgba(0, 0, 0, 0.01), 0px 13.281px 6.519px 0px rgba(0, 0, 0, 0.02), 0px 32.6px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.785px 25.481px 0px rgba(0, 0, 0, 0.02), 0px 105.648px 46.852px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04); */
    transform: translate(0, -36%);
}
.options-content-featured__label {
    font-size: 17px;
    font-weight: 700;
}
.options-content-featured__value {
    color: #545A58;
    font-size: 17px;
    font-weight: 400;
}
.content-featured__link {
    display: block;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    padding: 16px 35px;
    border-radius: 5px;
    background: #F85A47;
    box-shadow: 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
