@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

*,*::before, *::after{
margin: 0;
padding: 0;
border: none;
box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    font-family: Manrope;
    color: #333;
}

.button {
    border-radius: 5px;
    background: #F85A47;
    color: #FFF;
    box-shadow: 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
} 

.wrapper{
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.page{
    flex: 1 1 auto;
}

[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;

}

@media (max-width: 1200px) {
    [class*="__container"]{
        max-width: 970px;
    }
}

@media (max-width: 970px) {
    [class*="__container"]{
        max-width: 750px;
    }
}

@media (max-width: 750px) {
    [class*="__container"]{
        max-width: none;
    }
}


/* HEADER */
/* =========================== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 103px;
    /* padding: 10px 0px; */
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}
@media(max-width: 768px){
    .header__container {
       min-height: none;
       flex-direction: column;
    }
}
.header__logo {
    color: #31353B;
    font-size: 23px;
    font-weight: 800;
}
.header__menu {
}
/* ============================= */
.menu {
    
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 5px;
}
@media (max-width: 767.98px){
    .menu__list{
        justify-content: center;
    }
    .menu__link {
        font-size: 20px;
    }
}
.menu__item {
}
.menu__link {
    color: #000;
    font-size: 13px;
    font-weight: 700;
}

.menu__link:hover{
    text-decoration: underline;
}

/* =====MAIN-BLOCK===== */

.main-block__body {
    
}

.main-block {
    
}

.main-block__container {
    padding-top: 184px;
    position: relative;
}
.main-block__container::after{
    content: '';
    background: #BDCCFF;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 68%;
}


.body-main__block {
    display: flex;
}
.body-main-block__content {
    flex: 0 1 50%;
}

.content-main-block {
}
.content-main-block__sub-title {
}
.content-main-block__title {
}
.content-main-block__text {
}
.content-main-block__form {
}


.form-main-block {
}
.form-main-block__input {
}
.form-main-block__button {
}
.body-main-block__slider {
    flex: 0 1 50%; 
}
.main-block__partners {
}


.partners-main-block {
}
.partners-main-block__lable {
}
.partners-main-block__items {
}
.partners-main-block__item {
}
